.btn {
    font-size: rem(19px);
    font-weight: bold;
    padding: rem(21px) rem(41px);
    text-transform: uppercase;
    border-radius: rem(100px);
    line-height: 1;
    text-decoration: none;
    display: inline-block;
    border: none;

    &--theme--yellow {
        background:#FEDB3F;
        color: #000000;

        &:hover {
            background: #FFD517;
            color: #000000;
        }

        @include tablets {
            margin-bottom: rem(14px);
        }
    }

    &--theme--transparent {
        background: transparent;
        color: #FFFFFF;
        text-transform: none;
        margin-left: rem(-32px);

        &:hover {
            color: #FEDB3F;
        }

       @include tablets {
            margin-left: 0;
            display: none;            
        }
    }

    &--theme--white {
        background: #fff;
        color: $darkGreen;
    
        &:hover {
          color: #fff;
          background: $darkGreen;
        }
      }
    
      &--theme--green {
        background: $darkGreen;
        color: #fff;
    
        &:hover {
          color: $darkGreen;
          background: #fff;
        }
      }
    
      
}