.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: rem(40px);

    @include tablets {
        align-items: flex-start;
    }
}

.phone-number.header__phone-number {
    @include tablets {
        display: none;
    }
}