.map-section {
    position: relative;
  }
  
  #map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    }
  
  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(203, 146, 146);
  }