.order-section {
background: url("../img/grey.jpg") center top no-repeat;
max-width: 100%;
box-sizing: border-box;
color: #FFFFFF;

@include tablets {
    background: url("../img/grey.jpg") right 80% bottom no-repeat;
    max-width: 100%;
    box-sizing: border-box;
    color: #FFFFFF;
    }
}