.reviews-section {
    background: #FFFFFF;
    
    @include phones {
        background: none;
    
        &::before {
          display: none;
        }
    
        &::after {
          display: none;
        }
      }
}